{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}


{% block newsblog_content %}
<div class="col-md-8">
    {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}
    
    

    <ul>
        {% if prev_article %}
            <li><a href="{{ prev_article.get_absolute_url }}">{% trans "Previous Article" %}</a></li>
        {% endif %}
        <li><a href="{% namespace_url "article-list" %}">{% trans "Back to Overview" %}</a></li>
        {% if next_article %}
            <li><a href="{{ next_article.get_absolute_url }}">{% trans "Next Article" %}</a></li>
        {% endif %}
    </ul>
     <!-- Side Widget -->
        {% static_placeholder "Newsblog_Related" %}
    </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card mb-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    {% static_placeholder "Newsblog_Search" %}
                </div>
            </div>
          </div>
       
{% endblock %}


